<head>
    <title>Campus</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="{% url 'base_data' %}" class="nav-item nav-link active">Home</a>
   <a href="{% url 'student_list' %}" class="nav-item nav-link active">Student</a>
    <a href="{% url 'faculty_list' %}" class="nav-item nav-link active">Faculties</a>
    <a href="{% url 'campus_list' %}" class="nav-item nav-link active">Campus</a>
    <a href="{% url 'stream_list' %}" class="nav-item nav-link active">Stream</a>
     <a href="{% url 'lab_list' %}" class="nav-item nav-link active">Lab</a>
    <a href="{% url 'subject_list' %}" class="nav-item nav-link active">Subjects</a>
    <a href="{% url 'facility_list' %}" class="nav-item nav-link active">Facilities</a>
   <a href="{% url 'course_list' %}" class="nav-item nav-link active">Course</a>


        </div>

    </div>
</nav>

<h1 style="text-align:center;">Campus Page:</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>

      <th scope="col">Campus ID</th>
      <th scope="col">Campus Name</th>
      <th scope="col">Campus Location</th>
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
   {% for detail in campus_details %}
<tr>

    <td>{{detail.id}}</td></td><td>{{detail.Campus_name}}</td><td>{{detail.Campus_location}}</td>
            <td><a href="/edit_campus/{{detail.id}}">EDIT</a></td>
            <td><a href="/delete_campus/{{detail.id}}">Delete</a></td>
</tr>
    {% endfor %}


  </tbody>
</table>

<h2 style="text-align:center;">Campus Form:{{btn_text}}</h2>

<form method="post" action="/insert_campus/{{edited_campus.id}}">
     {% csrf_token %}
  <div class="form-group">
    <label>Campus name</label>
    <input type="text" class="form-control col-md-3" name="Campus_name" value="{{edited_campus.Campus_name}}">
  </div>
    <div class="form-group">
    <label>Campus Location</label>
    <input type="text" class="form-control col-md-3" name="Campus_location" value="{{edited_campus.Campus_location}}">
  </div>
  <button type="submit" class="btn btn-primary">{{btn_text}}</button>
</form>
</body>